td{
    background-color:rgb(124, 51, 145);
    transition:color,background-color 1s;
}
td#download{
    background-color:rgb(20,20,150);
    text-decoration:none;
}
td:hover{
    background-color:white;
    color:black;
}
td#download:hover{
    background-color:white;
    text-decoration:none;
    color:black;
}
div#download {
    margin:20px;
    height:30px;
    border-radius:15px;
    background-color: white;
}
div#download a{
    text-decoration:none;
    color:black;
}
div#back{
    margin:20px;
    height:30px;
    border-radius:15px;
    background-color: white;
}
div#back a{
    text-decoration:none;
    color:black;
}